<section class="vh-100">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
					 class="img-fluid" alt="Sample image">
			</div>

			<div class="text-center text-lg-center mt-4 pt-2">
				<a asp-controller="Home" asp-action="Login" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
						style="padding-left: 2.5rem; padding-right: 2.5rem;">
						Login
				</a>
			</div>
		</div>
	</div>

</section>