@model ExaminationSystem.Models.Exam

@{
	ViewData["Title"] = "Create";
}
<br />
<br />
<br />
<br />
<h1 class="text-center">Start New Exam</h1>


<br />
<br />
<div class="row">
	<div class="text-center mx-auto">
		<form asp-action="Create">

			<div class="form-group text-center">
				<input type="submit" value="Create" class="btn btn-primary px-4" />
				<input asp-action="Index"type="submit" value="Back" class="btn btn-danger px-4" />
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
