@model IEnumerable<ExaminationSystem.Models.Exam>

@{
	ViewData["Title"] = "Index";
}

<h1>
	List of previous exams
</h1>

<p>
	<a data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
	   style="padding-left: 2.5rem; padding-right: 2.5rem;" asp-action="Create">Create New Exam</a>
</p>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ExamDateTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Grade)
			</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ExamDateTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Grade)
				</td>

			</tr>
		}
	</tbody>
</table>
