@model IEnumerable<ExaminationSystem.Models.Exam>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New Exam</a>
</p>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ExamDateTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Grade)
			</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ExamDateTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Grade)
				</td>

			</tr>
		}
	</tbody>
</table>
